# Backend
PORT=4000
TMDB_API_KEY=your_tmdb_api_key_here
DATABASE_URL="file:./dev.db"

# Scraper
DEEPSEEK_API_KEY=your_deepseek_api_key_here
EXA_API_KEY=your_exa_api_key_here
SCRAPER_DB_URL="file:../backend/prisma/dev.db"
SCRAPER_SCHEDULE="30"  # minutes between runs, 0 for single run
USE_PROXY=false
PROXY_LIST=""