# Backend
PORT=4000
TMDB_API_KEY=5e56a377f0badd9fc0f0d05be9db62af
DATABASE_URL="file:./dev.db"

# Scraper
DEEPSEEK_API_KEY=your_deepseek_api_key_here
EXA_API_KEY=8f73f3bd-a992-4ad0-aaa1-0ab0f6879c76
SCRAPER_DB_URL="file:../backend/prisma/dev.db"
SCRAPER_SCHEDULE="30"  # minutes between runs, 0 for single run
USE_PROXY=false
PROXY_LIST=""